<div class="card" >
  <div class="card-header">
    Listado
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>

<div class="card" >
  <div class="card-header">
      Listado
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="card-body">
        <h5 class="card-title">${item.codigo_barras} <strong>${item.cantidad - ${item.unidad}</strong></h5>
        <p class="card-text"> ${item.categoria} - ${item.modelo}</p>
        <button type="button" class="btn btn-warning btn-sm edit-item" data-item='${JSON.stringify(item)}'>Editar</button>
                 <button type="button" class="btn btn-danger btn-sm delete-item" data-item='${JSON.stringify(item)}'>Eliminar</button>
      </div>
    </li>
</ul>
  
</div>


       <div class="confirmed-item border rounded">
           <h5>Item ${itemCount++}</h5>
           <p><strong>Código de Barras:</strong> ${item.codigo_barras}</p>
           <p><strong>Categoría:</strong> ${item.categoria}</p>
           <p><strong>Modelo:</strong> ${item.modelo}</p>
           <p><strong>Tipo:</strong> ${item.tipo}</p>
           <p><strong>Ubicación:</strong> ${item.ubicacion}</p>
           <p><strong>Cantidad:</strong> ${item.cantidad}</p>
           <p><strong>Unidad:</strong> ${item.unidad}</p>
           <p><strong>Estado:</strong> ${item.estado}</p>
           <p><strong>Stock Crítico:</strong> ${item.stock_critico}</p>
           <button type="button" class="btn btn-warning btn-sm edit-item" data-item='${JSON.stringify(item)}'>Editar</button>
           <button type="button" class="btn btn-danger btn-sm delete-item" data-item='${JSON.stringify(item)}'>Eliminar</button>
       </div>
   `;